<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/zephyr/bootstrap.min.css"
    />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header'); %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center"><%= title %></h1>

          <% if (messages.error) { %>
          <div class="alert alert-danger"><%= messages.error %></div>
          <% } %>
          <form action="/e/<%= election.url %>" method="POST" class="mt-5">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <!-- Questions -->
            <ul class="list-group">
              <% for(let question of election.questions) { %>
              <li class="list-group-item">
                <fieldset class="form-group">
                  <legend><%= question.title %></legend>

                  <!-- Options -->
                  <% for(let option of question.options) { %>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="<%= question.id %>"
                      id="<%= option.title %>"
                      value="<%= option.id %>"
                      required
                    />
                    <label class="form-check-label" for="<%= option.title %>">
                      <%= option.title %>
                    </label>
                  </div>
                  <% } %>
                </fieldset>
              </li>
              <% } %>
            </ul>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
