<section class="mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Controls</h2>
  </div>
  <hr />
  <!-- If election is just created and never launched. -->
  <% if (election.status === 'created') { %>

  <ul class="list-group">
    <li class="list-group-item">
      <form action="/elections/<%= election.id %>/url" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="form-group">
          <label class="form-label">Election URL</label>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-text"
                >https://voing-app.onrender.com/e/</span
              >
              <input
                type="text"
                name="electionUrl"
                class="form-control"
                value="<%= election.url %>"
              />
            </div>
            <small class="form-text text-muted">
              This is the URL that voters will use to access your election after
              launch.
            </small>
            <div class="form-group mt-3">
              <button type="submit" class="btn btn-primary" name="updateUrl">
                Update
              </button>
            </div>
          </div>
        </div>
      </form>
    </li>
    <li class="list-group-item">
      <a href="#" class="btn btn-info">Stats</a>
    </li>
    <li class="list-group-item">
      <a href="/elections/<%= election.id %>/preview" class="btn btn-success"
        >Launch Election</a
      >
    </li>
  </ul>

  <!-- If election is launched -->
  <% } else if(election.status === 'lanuched') { %>
  <div class="alert alert-info">
    <p>
      Your election is now live. Voters can now access your election using the
      URL below.
    </p>
    <p>
      <a href="https://voing-app.onrender.com/e/<%= election.url %>"
        >https://voing-app.onrender.com/e/<%= election.url %></a
      >
    </p>
  </div>

  <button class="btn btn-danger" id="end-election">End Election</button>

  <!-- If election has ended -->
  <% } else if(election.status === 'completed') { %>
  <div class="alert alert-info">
    <p>Your election has ended. You can now view the results.</p>
  </div>
  <% } else { %>
  <div class="alert alert-warning">
    <p>Something went wrong</p>
  </div>
  <% } %>
</section>

<script>
  const endElectionBtn = document.getElementById("end-election");
  endElectionBtn.addEventListener("click", async (e) => {
    const confirm = window.confirm(
      "The election will be ended and the results will be available to the public. Click OK to continue."
    );
    if (confirm) {
      e.preventDefault();

      // Send request to end election
      const response = await fetch(`/elections/<%= election.id %>/end`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          _csrf: "<%= csrfToken %>",
        }),
      });

      // If response is success, send to election page
      if (response.status === 200) {
        // TODO: Send  success flash messages
        window.location.href = `/elections/<%= election.id %>`;
      }
      // TODO: send error flash messages to same page
    }
  });
</script>
