<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="question-id" content="<%= questionId %>" />
    <meta name="election-id" content="<%= electionId %>" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/zephyr/bootstrap.min.css"
    />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <%- include('../partials/nav'); %>
          <h1><%= title %></h1>
          <p><%= question.description %></p>
          <%- include('../options/index') %>
        </div>
      </div>
    </div>
  </body>
</html>
